.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

.successMessage {
  text-align: center;
  padding: 20px 0px;
  color: #3c763d;
  opacity: 0;
  transition: opacity 0.6s;
}

.no-border.resume-section-title::after {
  border: 0 !important;
  height: 0px !important;
}

.w-60 {
  width: 60% !important;
}
.w-70 {
  width: 70% !important;
}
.w-40 {
  width: 40% !important;
}

@media (max-width: 767.98px) {
  .w-60,
  .w-60,
  .w-40 {
    width: 100% !important;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
